{% extends "layout.html" %}
{% block content %}

<html>
<head>
<meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="shortcut icon" href="static/barpi/martini-glass.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="static/barpi/martini-glass.ico">
</head>

	<h2><FONT COLOR="#FF0000">{{drtype}} in library</h2></FONT>

  {% for count in range(0,tz,2) %}

   
   <h3><a href="/{{profile}}/{{alldrinks[count]}}">{{alldrinks[count+1]}} </a></h3>

  {% endfor %}
  
  <h2>Total Amount of {{drtype}}: {{total}}</h2>
		
		<h1><a href="/{{stype}}">Ingredient list</h1>
		


{% endblock content %}
