{% extends "layout.html" %}
{% block content %}
<head>
<meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="shortcut icon" href="../static/barpi/martini-glass.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../static/barpi/martini-glass.ico">
</head>
<style>
body {
        background-repeat:no-repeat;
        background-image: url("../static/barpi/drinks2.jpg");


        background-color: #808000
}
</style>
	
	

<a href="/drinkif"><img src="../static/barpi/drinkif.jpg"></a>
<br><br><br><br>
<a href="/drinkif/settings/questions" class="btn btn-outline-light">Add questions</a>
<p><a href="/drinkif/instructions" type="button" class="btn btn-outline-primary btn-lg">Instructions</button></p></a>
<p><a href="/drinkif/settings"><button type="button" class="btn btn-outline-primary btn-lg">Settings</button></p>
<p><a href="/drinkif/play"><button type="button" class="btn btn-outline-primary btn-lg">Play</button></p>



{% endblock content %}



