{% extends "layout.html" %}
{% block content %}

<head>
<meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="shortcut icon" href="../static/barpi/martini-glass.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../static/barpi/martini-glass.ico">
</head>
	<title>Pi-Tender - Settings</title>
	<h1><FONT COLOR="#FF0000">CHOOSE A FUNCTION</h1></FONT>
	
	
<style>
body {
	background-repeat:no-repeat;
	background-image: url("../static/barpi/barpi.jpg"); 
 
	
	background-color: #000000
}
</style>
<br>
<div><a href="/tos/createcard"><img src="../static/barpi/toscard.jpg" width="520" height="124"><br>
<div><a href="/drinkif/questions"><img src="../static/barpi/drinkifq.jpg" width="520" height="124"><br>
<div><a href="/neverhave/questions"><img src="../static/barpi/neverhaveq.jpg" width="520" height="124"><br>
<div><a href="/wtw/addliquors"><img src="../static/barpi/addwtw.jpg" width="520" height="124"><br>


{% endblock content %}

