{% extends "layout.html" %}
{% block content %}


<head>
<meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="shortcut icon" href="static/barpi/martini-glass.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="static/barpi/martini-glass.ico">
</head>
	<title>Pi-Tender - Liquor Cabinet</title>
	<h1><FONT COLOR="#FF0000">Click on Ingredient</h1></FONT>
<style>
body {
	background-repeat:no-repeat;
	background-image: url("/static/barpi/cabinet2.jpg");
	background-position: left 10px top 90px;
	background-color: #000000
}
</style>
<div class="row">

{% for p in topics:  %}

<a href="/custom/{{ingr}}/{{p.name}}"><div class="column"><img title="{{p.name}}" alt="name" src="{{ url_for('static', filename='drinks/' + p.image) }}" alt="{{p.name}}"align="left" ></div>

		{% endfor %}		

</div>
<br><br><br>

{% endblock content %}

