{% extends "layout.html" %}
{% block content %}
<style>
img {
  width: 100%;
  height: auto;
}

</style>       


<a href="/view_games"><img src="../static/barpi/neverhave.jpg"></a>



 <article class="media content-section">
	<img src="../static/barpi/never2.jpg">
	

          <div class="media-body">

            <div class="article-metadata">
            </div>
          </div>
        </article>


<article class="media content-section">
        <p><a href="/neverhave/instructions"><img src="../static/barpi/instructions.jpg"</p></a>
	<p><img src="../static/barpi/spacer.jpg"</p>
	 <p><a href="/neverhave/questions"><img src="../static/barpi/questions.jpg"</p></a>
	<p><img src="../static/barpi/spacer.jpg"</p>

	 <p><a href="/neverhave/play"><img src="../static/barpi/play.jpg"</p></a>


          <div class="media-body">

            <div class="article-metadata">
            </div>
          </div>
        </article>


<meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="shortcut icon" href="../static/barpi/martini-glass.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../static/barpi/martini-glass.ico">
</head>
	
	






{% endblock content %}



