{% extends "layout.html" %}
{% block content %}
<h2><font color="blue">Never had I ever....</font></h2>
<h3><font color="purple">Instructions:</h3>
<h3><font color="white">Select numbers of players
<p>One Player clicks play</p>
<p>The player chooses the category and level and reads the Never have a ever statement<p>
<p>If you ever have ...<font color="red">you drink</p></font>
<p>You also enter questions</p>
<p>Choose an existing category or choose your own</p>
<p>Just be sure you question matches the right level!</p></h3></font><br>

<p><a href="/neverhave"><button type="button" class="btn btn-outline-danger btn-lg">Back

{% endblock content %}
